{% extends "bigbox/base.html" %}
{% block title %}{{ information.name }}{% endblock %}

{% block content %}
<section class="section border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto pb-5">
                <div class="text-dark">
                    <h2 class="py-3">{{ information.name }}</h2>
                    <p>{{ information.description }}</p>
                    <h3 class="py-3">Acerca de esta Bigbox:</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cantidad personas</li>
                        <li class="list-group-item">¿Hasta cuándo se puede usar?</li>
                        <li class="list-group-item">Cantidad de opciones</li>
                        <li class="list-group-item">¿Es intercambiable?</li>
                    </ul>
                    <h4 class="py-4">Formatos del regalo:</h4>
                    <p>Seleccionar digital o físico.</p>
                    <h2 class="py-3">${{ information.price }}</h2>
                    <h3 class="pt-4 pb-2">Dentro del regalo:</h3>
                    <p>Tu agasajado va a poder elegir una de estas experiencias: 
                    {% for data in information.activities.all|slice:":5" %}
                        <p class="h4 py-2"><a href="#">{{ data.name }}</a></p>
                        <p>{{ data.description }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section border-bottom">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="d-flex align-items-center">
                    <h4 class="text-uppercase">Experiencias</h4>
                    <h5 class="ml-auto"><a href="{% url 'bigbox:activities' information.id %}">Ver todo</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}